.Top
{
    background-color: #E4F9F5;
    height: 200px;
    width: 200px;
    border: solid 10px;
}
.Middle
{
    background-color: Red;
    height: 200px;
    width: 200px;
    border: solid 20px;
    margin-left: 220px;
}
.Bottom
{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: solid 10px;
    margin-left: 460px;
}
body
{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
h1
{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}